body{
    font-family: Arial;
    font-weight: bold;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 2rem;
}

.logo {
    width: 5rem;
    height: auto;
}

a {
        margin: 0.5rem;
        border: 2px solid black;
        padding: 0.5rem;
        background-color: lightgray;
        text-decoration: none;
    }

.bottom {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    background-color: bisque;
    padding: 2rem;
    
}